# .NET / MAUI
**/bin/
**/obj/
*.user
*.suo
*.userprefs
*.pfx
*.keystore

# Angular / Node
**/node_modules/
**/.angular/
**/dist/
**/tmp/
npm-debug.log*
yarn*.log
pnpm-debug.log*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
